html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
}

.top-navigation{
	background-color: #fff;
	width: 100%;
}

.top-navigation > .menu{
	width: 970px;
    height: 70px;
    margin: 0 auto;
    width: 60%;
}

.navigation{
	    list-style: none;
}

.top-navigation .navigation {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .navigation li {
    display: inline-block;
    margin-left: 25px;
}

.top-navigation .navigation li > a {
	text-decoration: none;
	color: black;
}
.top-navigation .navigation .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .navigation li:hover {
    cursor: pointer;
    color: #333333;
}

.logo{
	height: 70px;
    margin-left: 14px;
}


.text {
    border: 1px solid Chocolate;
    width: 50%;
    margin-top: 101px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.body {
	background-image: url("../files/image.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 41.538rem;
    overflow: auto;
}

.button{
	text-align: center;
}

.button .big-button {
	background-color: rgb(241, 90, 41);
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    width: 9.688rem;
    color: #fff;
	font-size: 1.2rem;
}

.button .big-button:hover{
	background-color: #D9400E;
	border-color: #D9400E;
	cursor: pointer;
}


.body .content h1{
	font-size: 3.125rem;
	margin-top: 12.5rem;
}

.body .content h3{
	font-size: 1.563rem;
	margin-top: 1.25rem;
}

.body  .content h1, .body  .content h3{
	color: #fff;
	font-weight: 300;
	text-align: center;
}

.icons{
	background-color: #fff;
	overflow: auto;
}

.icons .content{
	text-align: center;
}
.icons .content .devices{
	list-style: none;
}

.icons .content .devices > li{
	float: left;
	width: 30%;
}